<div class="col-sm-2 col-md-4">
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <a href="#"><h2><%= product.name %></h2></a>
    <p><%= product.description %></p>
    <p><Strong>Colour </Strong><%= product.colour %></p>
    <p><Strong>Price </Strong><%= product.price %></p>
    <br>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div><!-- end col-sm-2 col-md-4 -->