<% cache product do %>
  <div class="col-sm-12 col-md-6 col-lg-3">
    <div class="row">
      <%= image_tag(product.image_url, class: "img-responsive imageproductpage") %>
    </div>
    <div class="row productinfo">
      <h3><%= link_to product.name, product %></h3>
      <p><%= product.description %></p>
      <p><Strong>Colour: </Strong><%= product.colour %></p>
      <p><Strong>Price: € </Strong><%= product.price %></p>
      <br>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit' , edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div><!-- end col-sm-12 col-md-6 col-lg-3 -->
<% end %>

<% logger.debug "Product: #{product.description}" %>

<% logger.debug "Product: #{product.price}" %>
