<p id="notice"><%= notice %></p>

<div class="col-md-12 col-sm-12" id="show-product">
  <div class="col-md-6">
    <%= image_tag(@product.image_url, class: "img-responsive") %>
  </div>
  <div class="col-md-6" id="right-column-show">
    <h2>
      <%= @product.name %>
    </h2>
    <h3>
      <%= @product.description %>
    </h3>
    <h3>
      <strong>Colour:</strong><br>
      <%= @product.colour %>
    </h3>
    <h3>
      <strong>Price:</strong><br>
      <%= @product.price %>
    </h3>
    <h3>
      <strong>Average Rating:</strong><br>
      <div class="rated" data-score="<%= @product.average_rating %>"></div>
    </h3>
  </div>
</div><!-- end col-md-12 col-sm-12 show-product -->

<%= render 'new_comment' %>

<%= render 'comments' %>

<div class="pagination">
  <%= will_paginate @comments %>
</div>

<div class="back-and-edit-link">
  <%= link_to 'Edit', edit_product_path(@product) %> |
  <%= link_to 'Back', products_path %>
</div>
